/* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */

.centreVertical {
  vertical-align: middle !important;
}

.editButton{
  margin-right: 1rem;
}